.about {
	padding-top: 50px;
	padding-left: 70px;
	margin-bottom: 50px;
  /* width: 100vw; */
}
.heading {
	color: #a49c9c;
	font-weight: 400;
}

.contentp {
	color: rgb(71, 70, 70);
	margin: 0px 50px;
}
