.header {
	width: 100%;
	height: 100%;
}

video {
	width: 100%;
	/* min-height: 900px; */
	height: 90vh;
	object-fit: cover;
  /* opacity: 60%; */
}
.content::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';

	
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,8) 0%, rgba(255, 255, 255, 0) 30%);


}
.content {
position: absolute;
width: 100%;
height: 90%;
top: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 30px;
color: white;
background-color: rgba(100, 100, 100, 0.48);
font-weight: 300;
/* margin-left: 40px; */

}
/* .content:hover {
  background-color: rgba(100, 100, 100, 0.452);
} */
.contentp{
width: 70%;
padding-left: 70px;

}