.skills {
	padding-top: 50px;
	padding-left: 80px;
	margin-bottom: 50px;
  /* width: 100vw; */
}
.heading {
	color: #a49c9c;
	font-weight: 400;
}

.content {
	color: rgb(71, 70, 70);
	margin: 0px 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  line-height: 40px;
}

.bullet {
	font-size: 40px;
	color: rgb(210, 142, 97);
	margin-right: 3px;
}
.tech {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: center; */
	margin-right: 20px;
}
