.skills {
	padding-top: 10px;
	padding-left: 80px;
	margin-bottom: 50px;
  /* width: 100vw; */
}
.heading {
	color: #a49c9c;
	font-weight: 400;
}

.content {
	color: rgb(71, 70, 70);
	margin: 0px 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  line-height: 40px;
}

.bullet {
	font-size: 30px;
	color: rgb(210, 142, 97);
	margin-right: 3px;
}
.tech {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: center; */
	margin-right: 20px;
  font-size: 18px;
}

.techName{
  font-weight: 300;
    background-image: linear-gradient(
      to right,
      #975c22,
      rgb(68, 64, 64) 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

}

.techName:hover{
  background-position: 0;
}
.techName:hover::before {
  width: 100%;
}

@media (max-width: 500px) {
	.techName {
		font-size: 16px;
	}
	.heading{
		font-size: 20px;
	}
	.content {
		margin: 0px 20px;
	}
}